<div class="container back">
  <div class="col-xs-12 bg-mask">
    <% if @model == "user" %>
    <h2>Users search for '<%= @value %>'</h2>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Introduction</th>
            </tr>
        </thead>
    <% @datas.each do |user| %>
        <tbody>
            <tr>
                <td>
                    <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                </td>
                <td>
                    <%= link_to user.name, user_path(user.id) %>
                </td>
                <td>
                    <%= user.introduction %>
                </td>
            </tr>
        </tbody>
    <% end %>
    <% elsif @model == "book" %>
    <h2>category search for '<%= @value %>'</h2>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>User</th>
                <th>Title</th>
                <th>Opinion</th>
                <th>Category</th>
            </tr>
        </thead>
        <% @datas.each do |book| %>
        <tbody>
            <tr>
                <td>
                    <%= attachment_image_tag(book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                    <%= book.user.name %>
                </td>
                <td>
                    <%= link_to book.title, book %>
                </td>
                <td>
                    <%= book.body %>
                </td>
                <td>

                    <%= book.category %>

                </td>
            </tr>
        </tbody>
        <% end %>

    <% end %>
    </table>
  </div>
</div>
