<main class="back">
     <div class="bg-mask">
     <div class="container px-5 px-sm-0">
       <div class="row">
         <div class="col-md-3">
          <%= render 'books/list', user: @user %>
          <%= render 'books/form', book_new: @book %>
        </div>
        <div class="col-md-8 offset-md-1">
          <h2>Books</h2>
          <table class="table">
              <thead  class="thead-light">
                  <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Opinion</th>
                    <th>Category</th>
                    <th colspan="3"></th>
                  </tr>
              </thead>
               <% @books.each do |book| %>
                   <tbody>
                     <tr>
                      <td>
                          <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %><br>
                          <%= book.user.name %>

                      </td>
                      <td><%= link_to book.title ,book %></td>
                      <td><%= book.body %></td>
                      <td><%= book.category %></td>
                     </tr>
                   </tbody>
               <% end %>
            </table>
            <table class="table table-dark table-striped">
                <tr>
                    <th>今日の投稿数</th>
                    <th>前日の投稿数</th>
                    <th>前日比</th>
                </tr>
                <tr>
                    <td><%= current_user.books.where('created_at > ?', Time.zone.now.beginning_of_day).count %></td>
                    <td><%= current_user.books.where(created_at: 1.day.ago.all_day).count %></td>
                    <td>
                        <% if current_user.books.where(created_at: 1.day.ago.all_day).count == 0 %>
                         前日の投稿が0のため計算できません
                        <% else %>
                         <% @the_day_before = current_user.books.where(created_at: 1.day.ago.all_day).count / current_user.books.where('created_at > ?', Time.zone.now.beginning_of_day).count %>
                         <%= (@the_day_before * 100).round %>%
                        <% end %>
                    </td>
                </tr>
            </table>

         </div>
       </div>
     </div>
     </div>
</main>