<main>
     <p id="notice"></p>
     <div class="container px-5 px-sm-0">
       <%if @book.errors.any? %>
         <div class="error_explanation">
            <h3><%= @book.errors.count %>&nbsp;error prohibited this obj from being saved: </h3>
              <ul class="error-list">
               <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
               <% end %>
              </ul>
          </div>
        <% end %>
       <div class="row">
         <div class="col-md-3">
           <%= render 'books/list', user: @user %>
           <%= render 'books/form', book_new: @book %>
         </div>
            <div class="col-md-8 offset-md-1">
              <h2>Books</h2>
              <%= link_to "新着順", books_sort_path, remote: true %>||<%= link_to "いいね多い順", books_like_path, remote: true %>
              
            <div id="books_index">
              <%= render 'index', books: @books %>
           </div>
                
            </div>
     　 </div>
    </div>
</main>