<main>
    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
       <div class="row">
            <div class="col-md-3">
                <%= render 'books/list', user: @user %>
               <h2>New book</h2>
                <%= form_with model: @book_new, local:true do |f| %>
                  <label>Title</label><br>
                  <%= f.text_field :title %><br>
                  <label>Opinion</label><br>
                  <%= f.text_area :body %><br>
                  <%= f.submit 'Create Book', class:"btn btn-success" %>
                <% end %>
          　</div>
          <div class="col-md-8 offset-md-1">
               <h2>Book detail</h2>
                <table class="table">
                 <tbody>
                   <tr>
                    <td>
                      　<%= link_to user_path(@user.id) do %>
                        　<%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %> <br>
                          <%= @user.name %>
                        <% end %>
                    </td>
                    <td><%= link_to @book.title %></td>
                    <td><%= @book.body %></td>
                    <td>
                        <% if @book.favorited_by?(current_user) %>
                      <p>
                        <%= link_to book_favorites_path(@book), method: :delete do %>
                         ♥<%= @book.favorites.count %>
                        <% end %>
                      </p>
                    <% else %>
                       <p class="favo-color">
                        <%= link_to book_favorites_path(@book), method: :post do %>
                          ♡<%= @book.favorites.count %>
                         <% end %>
                        </p>
                     <% end %>
                    </td>
                    <td><p>コメント数：<%= @book.post_comments.count %></p></td>
                    <td>
                        <% if @book.user == current_user %>
                         <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %>
                        <% end %>
                    </td>
                    <td><% if @book.user == current_user %>
                         <%= link_to "Destroy", book_path(@book), class:"btn btn-sm btn-danger", method: :delete %>
                        <% end %>
                    </td>
                   </tr>
                 </tbody>
                </table>
                    <% @book.post_comments.each do |post_comment| %>
                    <div class="comments">
                      <%= attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %> <br>
                      <%= @user.name %>
                      <%= post_comment.comment %>
                      <% if post_comment.user == current_user %>
                        <div class="comment-delete">
                        <%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), class:"btn btn-danger", method: :delete %>
                        </div>
                      <% end %>
                      <% end %>
                    </div>
                  <div class="new-comment">
                   <%= form_with(model:[@book, @post_comment], local: true) do |f| %>
                    <%= f.text_area :comment, class:"form-control" %>
                    <%= f.submit "送信" %>
                   <% end %>
                 </div>
            </div>
        </div>
    </div>
</main>

