<main>
    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
       <div class="row">
            <div class="col-md-3">
                <%= render 'books/list', user: @user %>
               <h2>New book</h2>
                <%= form_with model: @book_new, local:true do |f| %>
                  <label>Title</label><br>
                  <%= f.text_field :title %><br>
                  <label>Opinion</label><br>
                  <%= f.text_area :body %><br>
                  <%= f.submit 'Create Book', class:"btn btn-success" %>
                <% end %>
            </div>
          <div class="col-md-8 offset-md-1">
               <h2>Book detail</h2>
                <table class="table">
                 <tbody>
                   <tr>
                    <td>
                        <%= link_to user_path(@user.id) do %>
                          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %> <br>
                          <%= @user.name %>
                        <% end %>
                    </td>
                    <td><%= link_to @book.title %></td>
                    <td><%= @book.body %></td>

                    <td id="book_<%= @book.id %>">
                        <%= render 'favorites/favorite-btn', book:@book %>
                    
                         <td id="comments-count">コメント数：<%= @book.book_comments.count %></td>
                      <td>
                        <% if @book.user == current_user %>
                         <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %>
                        <% end %>
                      </td>
                      <td>
                        <% if @book.user == current_user %>
                         <%= link_to "Destroy", book_path(@book), class:"btn btn-sm btn-danger", method: :delete %>
                        <% end %>
                      </td>  
                    </td>
                   </tr>
                 </tbody>
                </table>
                <table id="book_delete">
                    <%= render partial: 'book_comments/book-delete', locals:{ book: @book, user: @user } %>
                </table>
                  <div id="book_comment">
                   <%= render partial: 'book_comments/book-comment', locals:{ book: @book, book_comment: @book_comment } %>
                 </div>
            </div>
        </div>
    </div>
</main>

