<main>
    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
       <div class="row">
            <div class="col-md-3">
                <%= render 'books/list', user: @user %>
                <%= render 'books/form', book_new: @book_new %>
            </div>
          <div class="col-md-8 offset-md-1">
               <h2>Book detail</h2>
               <table class="table">
                   <thead class="thead-light">
                       <tr>
                         <th>Name</th>
                         <th>Title</th>
                         <th>Opinion</th>
                         <th>Category</th>
                         <th></th>
                         <th></th>
                         <th></th>
                         <th></th>
                         <th></th>
                       </tr>
                   </thead>
                 <tbody>
                   <tr>
                    <td>
                        <%= link_to user_path(@user.id) do %>
                          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %> <br>
                          <%= @user.name %>
                        <% end %>
                    </td>
                    <td><%= link_to @book.title %></td>
                    <td class="text-break"><%= @book.body %></td>
                    <td><%= @book.category %></td>

                    <td id="book_<%= @book.id %>">
                        <%= render 'favorites/favorite-btn', book:@book %>

                         <td id="comments-count">コメント数：<%= @book.book_comments.count %></td>

                         <td>閲覧数：<%= @book.impressions_count %> </td>
                      <td>
                        <% if @book.user == current_user %>
                         <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %>
                        <% end %>
                      </td>
                      <td>
                        <% if @book.user == current_user %>
                         <%= link_to "Destroy", book_path(@book), class:"btn btn-sm btn-danger", method: :delete %>
                        <% end %>
                      </td>
                    </td>
                   </tr>
                 </tbody>
                </table>
                <table id="book_delete">
                    <%= render partial: 'book_comments/book-delete', locals:{ book: @book, user: @user } %>
                </table>
                  <div id="book_comment">
                   <%= render partial: 'book_comments/book-comment', locals:{ book: @book, book_comment: @book_comment } %>
                 </div>
            </div>
        </div>
    </div>
</main>

