<div class="left-button ml-5">
<% @entries.each do |e| %>
  <% if current_user.id != e.user.id %>
    <h1><strong><%= e.user.name %>さんとのチャット</strong></h1>
  <% end %>
<% end %>
</div>



<hr>
<div class="ml-5">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
      <hr>
      <% if current_user.id == m.user.id %>
        <div class="text-right mr-5">
          <%= m.created_at.strftime('%Y/%m/%d') %>
          <%= attachment_image_tag m.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
          <small></small><strong><a href="/users/<%= m.user_id %>"><%= m.user.name %></a></strong></small>
          <strong><%= m.content %></strong>

        </div>
        <% else %>
         <%= attachment_image_tag m.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
          <small><strong><a href="/users/<%= m.user_id %>"><%= m.user.name %>さん</a></strong></small>
          <strong><%= m.content %></strong>
          <%= m.created_at.strftime('%Y/%m/%d') %>

      <% end %>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
</div>
<hr>
<div class="ml-3">
    <%= form_with model: @message do |f| %>
      <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <br>
</div>
<div class="m-3" style="display:none;"><%= f.submit "投稿する" %></div>
     <% end %>


<%= link_to "ユーザー一覧に戻る", users_path,class:"btn btn-info m-5" %>
