<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-dark text-white pt-2 pb-2">
     <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand p-3 justify-content-start" href="/"><%= link_to "Bookers", root_path, class:"text-light" %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>

              <li class="nav-item"><i class="fas fa-home"></i><%= link_to "Home",  user_path(current_user.id), class:"text-light" %></li>

              <li class="nav-item"><i class="fas fa-users"></i><%= link_to "Users", users_path, class:"text-light" %></li>

              <li class="nav-item"><i class="fas fa-book-open"></i><%= link_to "Books", books_path, class:"text-light" %></li>

              <li class="nav-item"><i class="fas fa-sign-out-alt"></i>
                <%= link_to "logout", destroy_user_session_path, class:"text-light", method: :delete %>
              </li>
            <% else %>

              <li class="nav-item"><i class="fas fa-home"></i>
                <%= link_to "Home", root_path, class:"text-light" %>
              </li>

              <li class="nav-item"><i class="fas fa-link"></i>
                <%= link_to "About", about_path, class:"text-light" %>
              </li>

              <li class="nav-item"><i class="fas fa-user-plus"></i>
                <%= link_to "sign up", new_user_registration_path, class:"text-light" %>
              </li>
              <li class="nav-item"><i class="fas fa-sign-out-alt"></i>
                <%= link_to "login", new_user_session_path, class:"text-light" %>
              </li>
            <% end %>
         </ul>
       </div>
      </nav>
     </header>
    <%= yield %>

    <footer>
       <div class="container mt-5">
         <div class="row">
           <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
           </div>
         </div>
       </div>

     </footer>

  </body>
</html>
